<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>


    <style>
    
    *::-webkit-input-placeholder {
      color: #fff !important;
    }
    *:-moz-placeholder {
      color: #fff !important;
    }
    *:-ms-input-placeholder { /* IE10+ */
      color: #fff !important;
    }

    </style>
  </head>
  <body ng-app="join">

    <ion-pane class="join-screen">
      <img class="join-cloud" src="img/clouds-02.png" />

      <ion-content ng-controller="joinController">

        <form class="join-form" name="joinus" novalidate>

          <label>NAME</label> <p ng-show="joinus.name.$error.required" ng-if="joinus.name.$dirty" class="tips">Name is required</p>
          <input type="text" name="name" ng-model="newName" placeholder="John Smith" required>

          <label>USERNAME</label> <p ng-show="joinus.username.$error.required" ng-if="joinus.username.$dirty" class="tips">User name is required</p>
          <input type="text" name="usernames" ng-model="newUsername" placeholder="John" required>

          <label>EMAIL</label> <p ng-show="joinus.email.$error.required || joinus.email.$error.email" ng-if="joinus.email.$dirty" class="tips">Enter valid email</p>
          <input type="email" name="email" ng-model="newEmail" placeholder="John@gmail.com" required>

          <label>PASSWORD</label> <p ng-show="joinus.password.$error.required || joinus.password.$error.minlength" ng-if="joinus.password.$dirty || joinus.password.minlength" class="tips">At least 6 letters</p>
          <input type="password" name="password" ng-model="newPassword" ng-minlength='6' placeholder="*******" required>

          <label>PASSWORD AGAIN</label> <p ng-show="joinus.newpassword.$error.required || joinus.password.$error.minlength" ng-if="joinus.newpassword.$dirty || joinus.newpassword.minlength" class="tips">At least 6 letters</p>
          <input type="password" name="newpassword" ng-model="newPasswordAgain" ng-minlength='6' placeholder="*******"  required>

          <button name="button" class="join-submit"  ng-click="join()" ng-disabled="joinus.$invalid">AND OFF WE GO!</button>

        </form>

      </ion-content>
    </ion-pane>

  <script src="js/join.js"></script>
  </body>
</html>
